* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://funart.pro/uploads/posts/2020-04/1587480219_15-p-derevyannie-foni-65.jpg');
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.clients {
    display: flex;
    justify-content: space-between;
}

.clients .clients-img {
    width: 130px;
    opacity: .5;
}

table {
    margin: 0 auto;
    margin-top: 300px;
    border: 2px;
    background-color: rgba(0,0,0, .6);
}

table td {
    font-size: 20px;
    color: white;
    opacity: .7;
}

.close {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: white;
    opacity: .7;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    top: 0;
}

.modal-back {
    margin: 0 auto;
    height: 400px;
    width: 50%;
    background-color: grey;
    border-radius: 5%;
    opacity: .7;
}
.modal-on {
    display: block;
}

.modal-off {
    display: none;
}

.clients-off {
    display: none;
}

.clients-on {
    display: flex;
}

.name {
    text-align: center;
    font-size: 14px;
    color: white;
    opacity: .7;
}