* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url("/img/bg.jpg");
    height: 100%;
}

.app {
    width: 400px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-top: 10%;
    padding: 50px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5%;
}

.app .add_text {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 60px;  
    background-color: rgba(0, 0, 0, .0);
    color: rgba(255, 255, 255, .8);
    font-size: 15px;
    padding: 5px;
    border-radius: 5%;
}

.app .add_button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 220px;
    height: 50px;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, .4);
    font-size: 21px;
    color: rgba(255, 255, 255, .5);
}

.app .app_list {
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
}

.app .app_list li {
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    color: rgba(255, 255, 255, .8);
}

.app_item {
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    color: rgba(255, 255, 255, .8);
}

.app_item-complete {
    text-decoration: line-through;
}

/* .wrapper {
    margin-top: 500px;
    text-align: center;
} */

.app .app_list-complete {
    text-decoration: line-through;
}

.app .app_close {
    margin-left: 10px;
}

.app .app_close img {
    width: 23px;
}

.app .app_change {
    margin-left: 10px;
}

.app .app_change img {
    width: 23px;
}
